/******** General Styles ********/
body {
	font-family: 'Open Sans', sans-serif;
}
li {
	list-style: none;
	display: inline-block;
}

li a {
	text-decoration: none;
}

/**** Timeline ****/
.timeline {
	border-left: 1px solid #333;
}

.timeline-item {
	padding-left: 30px;
	position: relative;
}

.timeline-item:before {
	content: "";
	position: absolute;
	left: 0;
	width: 20px;
	height: 20px;
	background: #333;
	margin-left: -10px;
	border-radius: 50%;
}

/**** Skill Progress ****/
.skill-title {
	display: inline-block;
}
.skill-progress {
	max-width: 300px;
	height: 20px;
	background: #f5f5f5;
	margin-top: 4%;
}