/* Variables */
/* Mixins */
/* Globals */
body {
  padding-top: 70px; }

.hide {
  display: none; }

.custom-scrollbar::-webkit-scrollbar {
  width: 7px !important; }

.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #f7f7f7 !important;
  box-shadow: inset 0 0 6px #f7f7f7 !important;
  border-radius: 10px !important; }

.custom-scrollbar::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 23px #f04 !important;
  box-shadow: inset 0 0 23px #f04 !important;
  border-radius: 10px !important; }

/* navbar */
.navbar {
  background: #333;
  border: none;
  border-radius: 0;
  margin-bottom: 0; }
  .navbar .navbar-header {
    height: 70px; }
  .navbar .navbar-collapse {
    border-color: #f04; }
  .navbar .navbar-toggle {
    border-color: #f04;
    background: #333;
    margin-top: 15px;
    transition: 0.3s; }
    .navbar .navbar-toggle .icon-bar {
      background: #f04;
      transition: 0.3s; }
    .navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
      background: transparent;
      border-color: #db003a; }
    .navbar .navbar-toggle:hover .icon-bar, .navbar .navbar-toggle:focus .icon-bar {
      background: #db003a; }
  .navbar .navbar-brand {
    padding: 0 15px; }
    .navbar .navbar-brand img {
      width: 50px;
      border-radius: 50%;
      float: left;
      padding-top: 10px;
      margin-right: 10px; }
    .navbar .navbar-brand .navbar__developer-name {
      line-height: 70px;
      color: #fff; }
  .navbar .navbar-nav > li.active > a {
    background: transparent;
    color: #fff;
    position: relative; }
    .navbar .navbar-nav > li.active > a:hover {
      background: transparent;
      color: #fff; }
    .navbar .navbar-nav > li.active > a:after {
      content: "";
      position: absolute;
      top: auto;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 3px;
      background: #f04; }
  .navbar .navbar-nav > li > a {
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px; }
    .navbar .navbar-nav > li > a:hover {
      color: #fff; }
    .navbar .navbar-nav > li > a:after {
      content: "";
      position: absolute;
      top: auto;
      right: 0;
      left: 0;
      bottom: 0;
      width: 0;
      height: 3px;
      background: #f04;
      margin: auto;
      transition: 0.3s; }
    .navbar .navbar-nav > li > a:hover:after {
      width: 100%; }

/* Buttons */
.btn {
  border-radius: 0; }
  .btn.btn-main {
    background: #f04;
    color: #fff;
    transition: 0.3s; }
    .btn.btn-main:hover {
      background: #db003a; }
  .btn.btn-main-outline {
    position: relative;
    background: transparent;
    border-color: #f04;
    color: #f04;
    overflow: hidden;
    transition: 0.3s; }
    .btn.btn-main-outline:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: #f04;
      transition: 0.3s; }
    .btn.btn-main-outline:hover {
      color: #fff; }
    .btn.btn-main-outline:hover:after {
      top: 0; }

/* Jumbotron */
.jumbotron {
  position: relative;
  height: 100vh;
  background-image: url("../img/intro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0; }
  .jumbotron .jumbtron-content {
    position: relative;
    top: 50%;
    z-index: 99;
    -webkit-transform: translateY(-50%);
    /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: translateY(-50%);
    /* IE 9 */
    transform: translateY(-50%);
    /* IE 10, Fx 16+, Op 12.1+ */ }
    .jumbotron .jumbtron-content .jumbtron-content__heading {
      color: #fff; }
    .jumbotron .jumbtron-content .jumbtron-content__paragraph {
      max-width: 600px;
      color: #fff;
      margin: auto;
      margin-bottom: 20px; }
  .jumbotron:focus {
    outline: 0; }

/* ==========================================================================
   Section Global Styles
   ========================================================================== */
.section {
  padding: 80px 0;
  text-align: center; }
  .section .section__heading {
    margin-top: 0;
    margin-bottom: 30px; }
  .section .section__subheading {
    margin-bottom: 20px; }
  .section.dark {
    background: #f7f7f7; }
  .section:focus {
    outline: 0; }
  .section:target {
    padding-top: 100px; }

/* ==========================================================================
   Contact Me Section
   ========================================================================== */
.contact-me .social-links .social-link__item {
  margin: 0 5px; }

.contact-me .social-links .social-link__icon {
  font-size: 30px;
  color: #f04; }

.contact-me .map-wrapper {
  position: relative; }

/* ==========================================================================
   Skills Section
   ========================================================================== */
.skill {
  margin-bottom: 15px; }
  .skill .skill__bar {
    position: relative;
    width: 100%;
    height: 12px;
    background: #bbb;
    border-radius: 30px; }
  .skill .skill__percentage {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 12px;
    background: #f04;
    border-radius: 30px; }

.grid {
  margin: auto; }

.grid-item {
  float: left; }

.grid-item--width2 {
  width: 282px; }

.grid-item--height2 {
  height: 220px; }

/* ==========================================================================
   Portfolio Section
   ========================================================================== */
.portofolio .button-group {
  margin-bottom: 15px; }

.portofolio .thumbnail img {
  min-width: 100%;
  height: auto; }

/* Thumbnails */
.thumbnail .thumbnail__img {
  height: 230px;
  display: inline-block;
  padding-bottom: 4px; }

.thumbnail .caption {
  border-top: 1px solid #ddd; }

.thumbnail .love-icon {
  color: #cd0303; }

.thumbnail .seen-icon {
  color: #333; }

.thumbnail.no-img .caption {
  border: none; }

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); }

/* Footer */
footer {
  background: #333;
  color: #fff;
  padding: 15px 0; }

/* Media Querires */
@media screen and (max-width: 634px) {
  .grid .grid-item {
    width: 100% !important; } }
