/* Variables */
$white: #fff;
$light-gray: #f7f7f7;
$dark-gray: #bbb;
$black: #333;
$secondary-color: #04395E;
$main-color: #f04;
$yellow: #F2D388;
$red: #cd0303;

/* Mixins */
@mixin translateY($val) {
    -webkit-transform: translateY($val); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: translateY($val); /* IE 9 */
          transform: translateY($val); /* IE 10, Fx 16+, Op 12.1+ */
}

/* Globals */
body {
    padding-top: 70px;
}

.hide {
    display: none;
}

.custom-scrollbar {
    &::-webkit-scrollbar {
                width: 7px !important;
            }
            
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px $light-gray !important;
                box-shadow: inset 0 0 6px $light-gray !important; 
                border-radius: 10px !important;
            }
            
            &::-webkit-scrollbar-thumb {
                -webkit-box-shadow: inset 0 0 23px $main-color !important; 
                box-shadow: inset 0 0 23px $main-color !important;
                border-radius: 10px !important;
            }    
}

/* navbar */
.navbar {
    background: $black;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    .navbar-header {
        height: 70px;
    }
    .navbar-collapse {
        border-color: $main-color;
        // &.collapse.in {
            
        // }
    }
    .navbar-toggle {
        border-color: $main-color;
        background: $black;
        margin-top: 15px;
        transition: 0.3s;
        .icon-bar {
            background: $main-color;
            transition: 0.3s;
        }
        &:hover, &:focus {
            background: transparent;
            border-color: darken($main-color, 7%);
        }
        &:hover .icon-bar, &:focus .icon-bar {
            background: darken($main-color, 7%);
        }
    }
    .navbar-brand {
        padding: 0 15px;
        img {
            width: 50px;
            border-radius: 50%;
            float: left;
            padding-top: 10px;
            margin-right: 10px;
        }
        .navbar__developer-name {
            line-height: 70px;
            color: $white;
        }
    }
    .navbar-nav {
        & > li {
            &.active {
                & > a {
                    background: transparent;
                    color: $white;
                    position: relative;
                    &:hover {
                        background: transparent;
                        color: $white;
                    }
                    &:after {
                    content: "";
                    position: absolute;
                    top: auto;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 3px;
                    background: $main-color;
                }
                }
            }
            & > a {
                position: relative;
                padding-top: 25px;
                padding-bottom: 25px;
                color: $white;
                margin-left: 5px;
                margin-right: 5px;
                &:hover {
                    color: $white;
                }
                &:after {
                    content: "";
                    position: absolute;
                    top: auto;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 3px;
                    background: $main-color;
                    margin: auto;
                    transition: 0.3s;
                }
                &:hover:after {
                    width: 100%;
                }
            }
        }
    }
}

/* Buttons */
.btn {
    border-radius: 0;
    &.btn-main {
        background: $main-color;
        color: $white;
        transition: 0.3s;
        &:hover {
            background: darken($main-color, 7%);
        }
    }
    &.btn-main-outline {
        position: relative;
        background: transparent;
        border-color: $main-color;
        color: $main-color;
        overflow: hidden;
        transition: 0.3s;
        &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: $main-color;
            transition: 0.3s;
        }
        &:hover {
            color: $white;
        }
        &:hover:after {
            top: 0;

        }
    }
}

/* Jumbotron */
.jumbotron {
    position: relative;
    height: 100vh;
    background-image: url('../img/intro-min.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0;
    .jumbtron-content {
        position: relative;
        top: 50%;
        z-index: 99;
        @include translateY(-50%);
        .jumbtron-content__heading {
            color: $white;
        }
        .jumbtron-content__paragraph {
            max-width: 600px;
            color: $white;
            margin: auto;
            margin-bottom: 20px;  
        }
    }
    &:focus {
        outline: 0;
    }
}

/* ==========================================================================
   Section Global Styles
   ========================================================================== */
.section {
    padding: 80px 0;
    text-align: center;
    .section__heading {
        margin-top: 0;
        margin-bottom: 30px;
    }
    .section__subheading {
        margin-bottom: 20px;
    } &.dark {
        background: $light-gray;
    }
    &:focus {
        outline: 0;
    }
    &:target {
        padding-top: 100px;
    }
}


/* ==========================================================================
   Contact Me Section
   ========================================================================== */
.contact-me {
    .social-links {
        .social-link__item {
            margin: 0 5px;
        }
        .social-link__icon {
            font-size: 30px;
            color: $main-color;
        }
    }
    .map-wrapper {
        position: relative;
    }
}

/* ==========================================================================
   Skills Section
   ========================================================================== */
.skill {
    margin-bottom: 15px;
    .skill__bar {
        position: relative;
        width: 100%;
        height: 12px;
        background: $dark-gray;
        border-radius: 30px;
    }
    .skill__percentage {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        height: 12px;
        background: $main-color;
        border-radius: 30px;
    }
}
    
.grid {
    margin: auto;
}
.grid-item {
  float: left;
}

.grid-item--width2 { width: 282px; }
.grid-item--height2 { height: 220px; }

/* ==========================================================================
   Portfolio Section
   ========================================================================== */
.portofolio {
    .button-group {
        margin-bottom: 15px;
    }
    .thumbnail {
        img {
            min-width: 100%; 
            height: auto;
        }
    }
}

/* Thumbnails */
.thumbnail {
    .thumbnail__img {
        height: 230px;
        display: inline-block;
        padding-bottom: 4px;
    }
    .caption {
        border-top: 1px solid #ddd;
    }
    .love-icon {
        color: $red;
    }
    .seen-icon {
        color: $black;
    }
    &.no-img {
        .caption {
            border: none;
        }
    }
}

/* Overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
}

/* Footer */
footer {
    background: $black;
    color: $white;
    padding: 15px 0;
}


/* Media Querires */
@media screen and (max-width: 634px) {
    .grid .grid-item {
        width: 100% !important;
    }
}