<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="./css/main.css">
	<title>Compant Name | Interior Design</title>
</head>

<body>

	<nav class="navbar navbar-default">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				 aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Company Name</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" class="mt-3">Home</a></li>
					<li>
						<a href="#" class="nav__icon" id="openMenuBtn">
							<div id="toggle">
								<input type="checkbox" class="toggleCheckbox">
								<span></span>
							</div>
						</a>
					</li>
					<li><a href="#" class="nav__icon"><i class="fa fa-search"></i></a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<!--About-->
	<div class="container">
		<div class="row">
			<div class="section has-img" id="about">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#products" aria-controls="products" role="tab" data-toggle="tab">products</a></li>
					<li role="presentation"><a href="#projects" aria-controls="projects" role="tab" data-toggle="tab">projects</a></li>
					<li role="presentation"><a href="#company" aria-controls="company" role="tab" data-toggle="tab">company</a></li>
					<li role="presentation"><a href="#news" aria-controls="news" role="tab" data-toggle="tab">news</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="products">
						<div id="products-carousel" class="carousel slide" data-ride="carousel">
							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<h1 class="slider__heading">Innovative <br> Personal <br> Approach</h1>
								</div>
								<div class="item">
									<h1 class="slider__heading">Innovative <br> Personal <br> Approach</h1>
								</div>

								<span class="slider__desc">The company is approved and recognized by leading property developers</span>
							</div>

							<!-- Controls -->
							<a class="right carousel-control" href="#products-carousel" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>

					<!--Projects Tab-->
					<div role="tabpanel" class="tab-pane fade" id="projects">
						<div id="projects-carousel" class="carousel slide" data-ride="carousel">
							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<h1 class="slider__heading">Projects <br> Personal <br> Approach</h1>
								</div>
								<div class="item">
									<h1 class="slider__heading">Innovative <br> Personal <br> Approach</h1>
								</div>

								<span class="slider__desc">The company is approved and recognized by leading property developers</span>
							</div>

							<!-- Controls -->
							<a class="right carousel-control" href="#projects-carousel" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
					<!--Company Tab-->
					<div role="tabpanel" class="tab-pane fade" id="company">
						<div id="company-carousel" class="carousel slide" data-ride="carousel">
							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<h1 class="slider__heading">Company <br> Personal <br> Approach</h1>
								</div>
								<div class="item">
									<h1 class="slider__heading">Innovative <br> Personal <br> Approach</h1>
								</div>

								<span class="slider__desc">The company is approved and recognized by leading property developers</span>
							</div>

							<!-- Controls -->
							<a class="right carousel-control" href="#company-carousel" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>

					<!--News Tab-->
					<div role="tabpanel" class="tab-pane fade" id="news">
						<div id="news-carousel" class="carousel slide" data-ride="carousel">
							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<h1 class="slider__heading">News <br> Personal <br> Approach</h1>
								</div>
								<div class="item">
									<h1 class="slider__heading">Innovative <br> Personal <br> Approach</h1>
								</div>

								<span class="slider__desc">The company is approved and recognized by leading property developers</span>
							</div>

							<!-- Controls -->
							<a class="right carousel-control" href="#news-carousel" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!--News-->
	<div class="container">
		<div class="row">
			<div class="col-md-6 section has-img" id="introduction">
				<h5 class="section__heading">introduction</h5>
				<div id="about-carousel" class="carousel slide" data-ride="carousel">
					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<h1 class="slider__heading">Passion <br> for Interior <br> Design</h1>
						</div>
						<div class="item">
							<h1 class="slider__heading">Passion <br> for Interior <br> Design</h1>
						</div>

					</div>

				</div>
				<span class="see-more">See our projects</span>
				<!-- Controls -->
				<a class="right carousel-control" href="#about-carousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<div class="col-md-6 p-0">
				<div class="section" id="newsSection">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#news1" aria-controls="news1" role="tab" data-toggle="tab">news</a></li>
						<li role="presentation">
							<a href="#news2" aria-controls="news2" role="tab" data-toggle="tab"></a>
						</li>
						<li role="presentation">
							<a href="#news3" aria-controls="news3" role="tab" data-toggle="tab"></a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="news1">
							<div id="news1-carousel" class="carousel slide" data-ride="carousel">
								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<h1 class="slider__heading">The UAE <br> Market is <br> Flourishing</h1>
									</div>
									<div class="item">
										<h1 class="slider__heading">The UAE <br> Market is <br> Flourishing</h1>
									</div>

									<span class="slider__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ad culpa inventore ipsam, quisquam commodi, amet beatae rerum reiciendis deserunt enim aspernatur similique dicta repellat sed voluptate rem ex hic.</span>
								</div>

								<!-- Controls -->
								<a class="right carousel-control" href="#news1-carousel" role="button" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
						</div>

						<!--News2 Tab-->
						<div role="tabpanel" class="tab-pane fade" id="news2">
							<div id="news2-carousel" class="carousel slide" data-ride="carousel">
								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<h1 class="slider__heading">The UAE <br> Market is <br> Flourishing1</h1>
									</div>
									<div class="item">
										<h1 class="slider__heading">The UAE <br> Market is <br> Flourishing</h1>
									</div>

									<span class="slider__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ad culpa inventore ipsam, quisquam commodi, amet beatae rerum reiciendis deserunt enim aspernatur similique dicta repellat sed voluptate rem ex hic.</span>
								</div>

								<!-- Controls -->
								<a class="right carousel-control" href="#news2-carousel" role="button" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
						</div>

						<!--News3 Tab-->
						<div role="tabpanel" class="tab-pane fade" id="news3">
							<div id="news3-carousel" class="carousel slide" data-ride="carousel">
								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<h1 class="slider__heading">The UAE <br> Market is <br> Flourishing2</h1>
									</div>
									<div class="item">
										<h1 class="slider__heading">The UAE <br> Market is <br> Flourishing</h1>
									</div>

									<span class="slider__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ad culpa inventore ipsam, quisquam commodi, amet beatae rerum reiciendis deserunt enim aspernatur similique dicta repellat sed voluptate rem ex hic.</span>
								</div>

								<!-- Controls -->
								<a class="right carousel-control" href="#news3-carousel" role="button" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!--Spotlight-->
				<div class="section has-img" id="spotlight">
					<div class="section__heading">In the Spotlight</div>
					<div id="spotlight-carousel" class="carousel slide" data-ride="carousel">
						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<h1 class="slider__heading">New <br> Wood <br> Techniques</h1>
							</div>
							<div class="item">
								<h1 class="slider__heading">New <br> Wood <br> Techniques</h1>
							</div>

							<span class="slider__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
						</div>

						<!-- Controls -->
						<a class="right carousel-control" href="#spotlight-carousel" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>


		</div>
	</div>

	<!--NewsLetter-->
	<div class="container">
		<div class="section" id="newsletter">
			<div class="row">
				<div class="col-md-4">
					<h1 class="heading">Newsletter</h1>
				</div>
				<div class="col-md-8">
					<form class="newsletter-form form">
						<div class="form-group">
							<input type="email" class="form-control form__field" id="name" name="name">
							<label for="" class="form__label">
								<span class="form__label-content">Sign up with your emailaddress</span>
							</label>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!--Services-->
	<div class="container">
		<div class="row">
			<div class="col-md-6 section has-img" id="what-we-offer">
				<h5 class="section__heading">what we offer</h5>
				<div id="what-we-offer-carousel" class="carousel slide" data-ride="carousel">
					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<h1 class="slider__heading">Products <br> &amp; Services</h1>
							<a href="#" class="see-more">see more</a>
						</div>
						<div class="item">
							<h1 class="slider__heading">Products <br> &amp; Services</h1>
							<a href="#" class="see-more">see more</a>
						</div>
					</div>

					<!-- Controls -->
					<a class="right carousel-control" href="#what-we-offer-carousel" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
			<div class="col-md-6 section has-img" id="our-trackrecord">
				<h5 class="section__heading">our trackrecord</h5>
				<div id="our-trackrecord-carousel" class="carousel slide" data-ride="carousel">
					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<h1 class="slider__heading">Projects <br> &amp; Clients</h1>
							<a href="#" class="see-more">see more</a>
						</div>
						<div class="item">
							<h1 class="slider__heading">Projects <br> &amp; Clients</h1>
							<a href="#" class="see-more">see more</a>
						</div>
					</div>

					<!-- Controls -->
					<a class="right carousel-control" href="#our-trackrecord-carousel" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<!--Testimonials-->
	<div class="container">
		<div class="section" id="testimonials">
			<h5 class="section__heading">testimonials</h5>

			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<p class="quote">
							Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Morbi sit amet lorem sed <br> tortor <span class="colored">facilisis fermentum.</span>							Aliquam <br> lacinia commodo tellus.
						</p>
						<p class="quoter">L. Raven - CEO Meraas LLC</p>
						<div class="carousel-caption">
						</div>
					</div>
					<div class="item">
						<p class="quote">
							Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Morbi sit amet lorem sed <br> tortor <span class="colored">facilisis fermentum.</span>							Aliquam <br> lacinia commodo tellus.
						</p>
						<p class="quoter">L. Raven - CEO Meraas LLC</p>
						<div class="carousel-caption">
						</div>
					</div>
				</div>

				<!-- Controls -->
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>


	<!--Contact Us-->
	<div class="container">
		<div class="section" id="contact-us">
			<div class="row">
				<div class="col-md-3">
					<h5 class="section__heading">contact</h5>
					<address>
						<strong>Company</strong><br> P.O Box 325, Ras Al Khor<br>Dubai, United Arab Emirates<br>
						<abbr title="Phone">P:</abbr> (123) 456-7890
					</address>

					<address class="mb-0">
						<span>Tel: +971(0)4 388 83 79</span>
					</address>
					<address>
						<span>Fax: +971(0)4 388 83 79</span>
					</address>
				</div>
				<div class="col-md-3">
					<h5 class="section__heading">products</h5>
					<ul class="list">
						<li class="list__item"><a href="#">fire rated doors</a></li>
						<li class="list__item"><a href="#">non fire rated doors</a></li>
						<li class="list__item"><a href="#">kitchen cabinets</a></li>
						<li class="list__item"><a href="#">vanities</a></li>
						<li class="list__item"><a href="#">wardrobes</a></li>
						<li class="list__item"><a href="#">wall & ceiling features</a></li>
						<li class="list__item"><a href="#">counters & Desks</a></li>
						<li class="list__item"><a href="#">playground equipment</a></li>
						<li class="list__item"><a href="#">pergolas & garden furniture</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h5 class="section__heading">downloads</h5>
					<ul class="list">
						<li class="list__item"><a href="#">brochure</a></li>
						<li class="list__item"><a href="#">corporate profile</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h2>Company Logo</h2>
				</div>
			</div>
		</div>
	</div>

	<!--Footer-->
	<footer>
		<p class="footer__text text-center">&copy; 2016 Al Mashrabia Furniture. All Rights Reserved.</p>
	</footer>


	<div class="overlay menu-overlay">
		<nav class="navbar navbar-default">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					 aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
					<a class="navbar-brand" href="#">Company Name</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#" class="mt-3">Home</a></li>
						<li>
							<a href="#" class="nav__icon" id="closeMenuOverlayBtn">
								<div id="toggle">
									<input type="checkbox" class="toggleCheckbox">
									<span></span>
								</div>
							</a>
						</li>
						<li><a href="#" class="nav__icon"><i class="fa fa-search"></i></a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>
		<div class="section has-img">
			<div class="container">
				<h5 class="section__heading">Menu</h5>
				<ul class="list menu-list">
					<li class="list__item"><a href="#">News</a></li>
					<li class="list__item"><a href="#">Products & Services</a></li>
					<li class="list__item"><a href="#">Projects & Clients</a></li>
					<li class="list__item"><a href="#">About</a></li>
					<li class="list__item"><a href="#" id="contact-link">Contact</a></li>
				</ul>

			</div>
		</div>
		<div class="section has-img" id="search">
			<div class="container">
				<h5 class="section__heading">Search</h5>
				<form class="form" id="search-form">
					<div class="form-group">
						<input type="text" class="form-control form__field" id="name" name="name">
						<label for="" class="form__label">
							<span class="form__label-content">What are you looking for?</span>
						</label>
						<button class="btn search-btn"><i class="fa fa-search"></i></button>
					</div>
				</form>
			</div>
		</div>
		<ul class="social-list">
			<li class="social-list__item">
				<a href="#" class="social-list__link"> <i class="fa fa-facebook social-list__icon"></i> </a>
			</li>
			<li class="social-list__item">
				<a href="#" class="social-list__link"> <i class="fa fa-google-plus social-list__icon"></i> </a>
			</li>
			<li class="social-list__item">
				<a href="#" class="social-list__link"> <i class="fa fa-twitter social-list__icon"></i> </a>
			</li>
			<li class="social-list__item">
				<a href="#" class="social-list__link"> <i class="fa fa-instagram social-list__icon"></i> </a>
			</li>
		</ul>
	</div>

	<div class="overlay contact-overlay">
		<nav class="navbar navbar-default">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					 aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
					<a class="navbar-brand" href="#">Company Name</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#" class="mt-3">Home</a></li>
						<li>
							<a href="#" class="nav__icon" id="closeContactOverlayBtn">
								<div id="toggle">
									<input type="checkbox" class="toggleCheckbox">
									<span></span>
								</div>
							</a>
						</li>
						<li><a href="#" class="nav__icon"><i class="fa fa-search"></i></a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>
		<div class="section">
			<div class="container">
				<h5 class="section__heading">How can we help you?</h5>
				<form action="" class="form contact-form mt-50">
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<div class="form-group">
								<input type="email" class="form-control form__field" id="name" name="name">
								<label for="" class="form__label">
									<span class="form__label-content">Email Address</span>
								</label>
							</div>
						</div>
						<div class="col-md-6 col-md-offset-3">
							<div class="form-group">
								<input type="text" class="form-control form__field" id="name" name="name">
								<label for="" class="form__label">
									<span class="form__label-content">Subject</span>
								</label>
							</div>
						</div>
						<div class="col-md-6 col-md-offset-3">
							<div class="form-group">
								<textarea type="email" class="form-control form__field textarea" id="name" name="name"></textarea>
								<label for="" class="form__label">
									<span class="form__label-content">Message</span>
								</label>
							</div>
						</div>
					</div>
					<button class="btn btn-main pull-right">Submit</button>
				</form>
			</div>
		</div>
	</div>

	<ul class="social-list hidden-xs hidden-sm">
		<li class="social-list__item">
			<a href="#" class="social-list__link"> <i class="fa fa-facebook social-list__icon"></i> </a>
		</li>
		<li class="social-list__item">
			<a href="#" class="social-list__link"> <i class="fa fa-google-plus social-list__icon"></i> </a>
		</li>
		<li class="social-list__item">
			<a href="#" class="social-list__link"> <i class="fa fa-twitter social-list__icon"></i> </a>
		</li>
		<li class="social-list__item">
			<a href="#" class="social-list__link"> <i class="fa fa-instagram social-list__icon"></i> </a>
		</li>
	</ul>

	<!--<form method="POST" class="contact-form form" id="contact-form">
        
    
        <div class="form-group" id="startField">
            <textarea type="text" class="form-control form__field textarea" id="describeField" name="project"></textarea>
            <label for="" class="form__label">
                <span class="form__label-content">Describe project</span>
            </label>
        </div>
    </form>-->
	<script src="./js/jquery-3.2.1.min.js"></script>
	<script src="./js/bootstrap.min.js"></script>
	<script src="./js/jquery-matchHeight.min.js"></script>
	<script src="./js/scripts.js"></script>
</body>

</html>