@font-face {
    font-family: 'RobotoRegular_0';
    src: url('../../fonts/RobotoRegular_0.eot');
    src: url('../../fonts/RobotoRegular_0.eot') format('embedded-opentype'),
         url('../../fonts/RobotoRegular_0.woff2') format('woff2'),
         url('../../fonts/RobotoRegular_0.woff') format('woff'),
         url('../../fonts/RobotoRegular_0.ttf') format('truetype'),
         url('../../fonts/RobotoRegular_0.svg#RobotoRegular_0') format('svg');
}
