/**** Start Fonts ****/
@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/MyriadProRegular.eot');
    src: url('../fonts/MyriadProRegular.eot') format('embedded-opentype'),
         url('../fonts/MyriadProRegular.woff2') format('woff2'),
         url('../fonts/MyriadProRegular.woff') format('woff'),
         url('../fonts/MyriadProRegular.ttf') format('truetype'),
         url('../fonts/MyriadProRegular.svg#MyriadProRegular') format('svg');
}
@font-face {
    font-family: 'GE_SS_Text_Light';
    src: url('../fonts/GE_SS_Text_Light.eot');
    src: url('../fonts/GE_SS_Text_Light.eot') format('embedded-opentype'),
         url('../fonts/GE_SS_Text_Light.woff2') format('woff2'),
         url('../fonts/GE_SS_Text_Light.woff') format('woff'),
         url('../fonts/GE_SS_Text_Light.ttf') format('truetype'),
         url('../fonts/GE_SS_Text_Light.svg#GE_SS_Text_Light') format('svg');
}
/**** End Fonts ****/

/**** Start Global ****/
.section{
	padding-top: 100px;
	padding-bottom: 100px;
}
h3, h4, a, .btn-default{ font-family: 'Montserrat', sans-serif; }
h3, h4{
	text-transform: uppercase;
	margin-bottom: 30px;
	font-weight: normal;
}
h5{
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
}
p{
	color: #a7a7a7;
	font-size: 14px;
	font-family: 'MyriadProRegular';
}
input, textarea{box-sizing: content-box;}
.img-fullwidth{ width: 100% !important; }
/**** Start input Styling Global ****/
.contact-form{
	padding-top: 30px;
	margin-bottom: 20px;
}
.form-control, .btn-default{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
.btn-default {
	color: #fff;
	background-color: #fbb034;
	border-color: #ccc;
	margin-top: 30px;
	margin-bottom: 20px;
	padding-top: 13px;
	padding-bottom: 13px;
	border: none;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
	color: #fff;
	background-color: #F99F0B;
	border-color: #fbb034;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default { background-image: none; }
.form-control{
	background: #f3f3f3;
	padding: 10px 0 10px 15px;
}
textarea{ resize: none; }
/**** End Input Styling Global****/
::-webkit-input-placeholder {
	text-transform: uppercase;
	font-size: 12px;
	padding-top: 3px;
	font-family: 'Montserrat', sans-serif;
	padding-left: 15px;
}
:-moz-placeholder { /* Firefox 18- */
	text-transform: uppercase; 
	font-size: 12px;
	padding-top: 3px;
	font-family: 'Montserrat', sans-serif;
	padding-left: 15px;
}
::-moz-placeholder {  /* Firefox 19+ */
	text-transform: uppercase;
	font-size: 12px;
	padding-top: 3px;
	font-family: 'Montserrat', sans-serif;
	padding-left: 15px;
}
:-ms-input-placeholder {  
	text-transform: uppercase;
	font-size: 12px;
	padding-top: 3px;
	font-family: 'Montserrat', sans-serif;
	padding-left: 15px;
}
.border-bottom{ border-bottom: 2px solid #f3f3f3; }
.margin-b-15{ margin-bottom: 15px; }
.margin-t-30{ margin-top: 30px; }
.margin-b-30{ margin-bottom: 30px; }
.padding-r-0{ padding-right: 0 !important; }
.padding-l-0{ padding-left: 0 !important; }
/**** End Global ****/

/**** Start Jumbotron ****/
.jumbotron{
	background-image: url(../img/background-img.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	padding: 200px 0;
	margin-bottom: 0;
	overflow: hidden;
}
.jumbotron img { margin-bottom: 30px; }
.jumbotron p {
	text-transform: uppercase;
	color: #f89728;
	margin-bottom: 40px;
}
.jumbotron i {
	color: #f89728;
	font-weight: 600;
	width: 25px;
	height: 25px;
	border: 2px solid #f89728;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
/**** End Jumbtron ****/

/**** Start Navigation Bar ****/
.navbar-default{ background: #fff; }
.navigation-form{ position: relative; }
.navigation-form input{ 
	padding-top: 1px;
	padding-bottom: 1px;  
}
.navbar{
	margin-bottom: 0;
	border-radius: 0;
	box-shadow: 1px 1px 2px #ddd;
}
.navbar-fixed-bottom .navbar-collapse, 
.navbar-fixed-top .navbar-collapse, 
.navbar-static-top .navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-form .form-control{
	width: 200px;
	position: absolute;
	top: 24px;
	right: 97px;
	z-index: 5;
	display: none;
}
.navbar-nav>li>a {
	padding-top: 30px;
	padding-bottom: 30px;
	text-transform: uppercase;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.navbar-form{
	margin-top: 0;
	margin-bottom: 0;
}
.navbar-form a{
	background: transparent;
	border: none;
	font-size: 18px;
}
a.globe{ font-size: 18px !important; }
.navbar-form a i.fa-search{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 0;
	border-right: 2px solid #f3f3f3;
	border-left: 2px solid #f3f3f3;
}
.navbar-default .navbar-nav>li>a{ color: #333; }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f15d22;
  background-color: transparent;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover{
	color: #f15d22;
	background: #fff;
}
.navbar-default i,.navbar-default li.dropdown a{ color: #bdbbbc; }
.navbar-default i:hover,.navbar-default li.dropdown a:hover{ color: #f15d22; }
.navbar-default li.dropdown a{
	border-right: 2px solid #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
}
.navbar-nav .open .dropdown-menu{ position: absolute; }
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{ border-color: transparent !important;}
@media only screen and (max-width : 768px){
	ul.globe{
		display: inline!important;
		position: absolute;
		top: -8px;
		right: 94px;
	}
	.navbar-default li.dropdown a{ border-right: none; }
	.navbar-form{
		display: inline-block;
		border: none;
		position: absolute;
		top: -30px;
		right: 124px;
		border-right: none;
		border-left: none;
	}
	.navbar-form a i.fa-search{
		border-right: none;
		border-left: none;
	}
	.navbar-form .form-control{ top: 38px; }
	.navbar-header{ padding: 15px; }
	.navbar-brand{ padding: 0; }
}
@media only screen and (max-width : 410px){
	.navbar-default li.dropdown a, .navigation-form{ display: none !important; }
}
@media only screen and (min-width : 768px) and (max-width: 993px){
	.nav>li>a{ padding: 29px 5px; }
	.navbar-default .navbar-nav>li>a{ font-size: 11px; }
}
.navbar-toggle{ border: none; }
.navbar-default .navbar-toggle .icon-bar{ background: #bdbbbc; }
.navbar-default .navbar-toggle:hover{ background: #cd0303; }
.navbar-toggle .icon-bar {
	width: 30px;
	height: 4px;
}
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover{ background: transparent; }
.navbar-nav .open .dropdown-menu{ background: #fff; }
/**** End Navigation Bar ****/

/**** Start Our Services ****/
.our-services { background: #f3f3f3; }
.our-services p {
	margin: auto;
 	margin-bottom: 80px;
 	max-width: 680px;
}
.our-services i {
	background: #dadada;
	color: #fff;
	width: 100px;
	height: 100px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	padding-top: 30px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.our-services i:hover{
	color: #f15d22;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.our-services h4 {
	font-weight: 600;
	margin-bottom: 20px;
}
/**** End Our Services ****/

/**** Start Featured Products ****/
.featured-product {
	background-image: url(../img/featured-background.jpg);
	background-position: top;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 0;
	position: relative;
}
.featured-product h3 { color: #fff; }
.featured-product p{
	max-width: 680px;
	margin: auto;
	color: #d0d1d1;
}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #f3f3f3;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.featured-product img{ margin-top: 100px; }
/**** End Featured Products ****/

/**** Start Random Tip ****/
.random-tip{
	background: #86bb07;
	color: #fff;
	padding: 40px 0;
}
.random-tip p{
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}
.random-tip span{
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
}
.product-page .random-tip,
.trial-page .random-tip,
.trials-page .random-tip{ background: #f15d22; }
/**** End Random Tip ****/

/**** Start Latest News ****/
.product-page ul.latest-news li,
.trial-page ul.latest-news li,
.trials-page ul.latest-news li{ margin-bottom: 30px; }
ul.latest-news h4{
	margin-top: 0;
	margin-bottom: 0;
}
ul.latest-news p{ text-decoration: underline; }
/**** End Latest News ****/

/**** Start Trails Section ****/
.trials-section h4{ font-weight: 600; }
.trials-section h4 span{ font-weight: 300; }
/**** End Trails Section ****/

/**** Start Our Suppliers ****/
.product-page .our-suppliers,
.trial-page .our-suppliers,
.trials-page .our-suppliers{ background: #f3f3f3; }
/**** End Our Suppliers ****/

/**** Start Newsletter ****/
.newsletter{
	background: #f3f3f3;
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	border-left: 1px solid #f3f3f3;
	border-right: 1px solid #f3f3f3;
	border-style: dashed;
}
.newsletter input {
	border-right: none;
	background: transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	margin: auto;
	padding: 3px 0 3px 10px;
}
.newsletter input:focus{
	outline: 0;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.newsletter button,
.newsletter button:hover,
.newsletter button:focus {
	background: transparent;
	color: #c8c8c8;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	border: 1px solid #bababa;
	border-left: none;
	padding-top: 10px;
	padding-bottom: 10px;
	outline: 0;
	margin-top: 0;
}
/**** End Newsletter ****/

/**** Start Sub Header ****/
.sub-header {
	border-top: 2px solid #eaeaea;
	border-bottom: 2px solid #eaeaea;
	background: #f3f3f3;
	padding: 30px 0;
	margin-top: 0;
}
.sub-header span {
	text-transform: uppercase;
	border-bottom: 2px solid #fbb034;
	padding-bottom: 31px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
}
ol { margin-bottom: 0; }
ol.breadcrumb {
	padding: 0;
	margin-bottom: 0;
	list-style: none;
	background-color: transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
@media only screen and (max-width : 991px) {
	ol.breadcrumb{ margin-top: -20px; }
}
ol.breadcrumb li a{ color: #f15d22; }
ol.breadcrumb li.active{ color: #a7a7a7; }
ol.breadcrumb>li+li:before{
	content: "\f105";
	font-family: Fontawesome;
	width: 10px;
	height: 10px;
	border: 1px solid #bdbbbc;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	color: #bdbbbc;
	margin-left: 10px;
	margin-right: 10px;
	padding-right: 4px;
	padding-left: 6px;
}
/**** End Sub Header ****/

/**** Start Product Section ****/
.product-section h4{ font-weight: 600; }
.product-section h4 span{ font-weight: 300; }
.product-section .btn-default{
	margin-top: 30px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.product-section .col-md-offset-1{ margin-left: 4.333333% }
.product-section .btn-default {
	color: #fff;
	background-color: #bdbbbc;
	border-color: #bdbbbc;
	text-transform: uppercase;
	padding: 8px 23px;
	border-radius: 4px;
}
.product-section .btn-default:hover,
.product-section .btn-default:focus,
.product-section .btn-default.focus,
.product-section .btn-default:active,
.product-section .btn-default.active,
.product-section .open > .dropdown-toggle.btn-default {
	color: #fff;
	background: #f15d22;
	border-color: #f15d22;
}
/**** End Product Section ****/

/**** Start Visual Gallery ****/
.visual-gallery{ background: #f5f5f5; }
.visual-gallery h3{ padding-bottom: 30px; }
.visual-gallery .col-xs-3{
	padding-right: 2px;
	padding-left: 2px;
}
.visual-gallery .carousel-control.right,
.visual-gallery .carousel-control.left{ display: none; }
.visual-gallery .carousel-indicators{
	position: static;
	width: 100%;
	margin: auto;
	margin-top: 30px;
}
.visual-gallery .carousel-indicators li{ border: 1px solid #dfdfdf; }
.visual-gallery .carousel-indicators li.active{
	background: #f15d22;
	border: 1px solid #f89728;
}
/**** End Visual Gallery ****/

/**** Start Youtube Video ****/
.youtube-video .col-md-6{
	padding-left: 6px;
	padding-right: 6px;
}
/**** End Youtube Video ****/

/**** Start Contact Map ****/
.contact-map{
	margin-top: 30px;
	margin-bottom: 30px;
	position: relative;
}
.over-map{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}
.contact-map iframe{
	width: 100%;
	border: 0;
}
/**** End Contact Map ****/

/**** Start Contact Main ****/
.contact-main{ margin-bottom: 30px; }
.contact-form .form-control{ padding: 15px 0 15px 0; }
/**** End Contact Main ****/

/**** Start Contact Info ****/
.contact-info{
	background: #f3f3f3;
	padding: 40px 30px 10px 30px;
	width: 100%;
}
.contact-info div.awesome{
	color: #7b7d7f;
	width: 35px;
	height: 35px;
	border: 1px solid #7b7d7f;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	padding-top: 5px;
}
.contact-info i.fa{ margin-top: 6px; }
.contact-info span{
	color: #cfcfcf;
	text-decoration: underline;
}
.contact-info .contacts{ padding: 5px 0; }
.contact-info .working-hours{ padding-top: 30px; }
/**** Start Contact Info ****/

/**** Start Footer ****/
footer{
	background: #111111;
	padding-top: 70px;
	padding-bottom: 30px;
}
ul.social-icons li{ padding-right: 30px; }
ul.social-icons li a{
	color: #707070;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
ul.social-icons li a:hover{ color: #f15d22; }
ul.footer-menu{
	margin-top: 40px;
	margin-bottom: 60px;
}
ul.footer-menu li{ padding-right: 20px; }
@media only screen and (max-width : 768px) {
	ul.footer-menu li{
		display: block !important;
		margin-bottom: 10px;
	}
}
ul.footer-menu li a{
	color: #707070;
	text-transform: uppercase;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
ul.footer-menu li a:hover{ color: #f15d22; }
p.copyrights{
	color: #4b4b4b;
	border-top: 1px solid #292929;
	padding-top: 30px;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
}
/**** End Footer ****/

/**** Start Arabic Version ****/
/**** Start Arabic Global ****/
body.rtl{
	direction: rtl;
    font-family: 'GE_SS_Text_Light';
}
.rtl h2, .rtl h3, .rtl h4, .rtl h5, .rtl p, .rtl a, .rtl .btn, .rtl .random-tip span, .rtl .sub-header span{ font-family: 'GE_SS_Text_Light'; }
.rtl h2, .rtl h3, .rtl h4, .rtl h5{ font-weight: bold; }
.rtl .youtube-video .padding-r-0{
	padding-left: 0;
	padding-right: 6px !important;
}
.rtl .youtube-video .padding-l-0{
	padding-right: 0;
	padding-left: 6px !important;
}
.rtl ::-webkit-input-placeholder { 
	font-family: 'GE_SS_Text_Light'; 
	padding-right: 15px; 
}
.rtl input:-moz-placeholder { /* Firefox 18- */ 
	font-family: 'GE_SS_Text_Light'; 
	padding-right: 15px;
}
.rtl ::-moz-placeholder {  /* Firefox 19+ */ 
	font-family: 'GE_SS_Text_Light'; 
	padding-right: 15px;
}
.rtl :-ms-input-placeholder { 
	font-family: 'GE_SS_Text_Light'; 
	padding-right: 15px;
}
.rtl h3{ font-size: 28px; }
/**** End Arabic Global ****/
/**** Start Arabic Navigation Bar ****/
.rtl .navbar-form a i.fa-search{ margin-top: 1px; }
.rtl .navbar-default .navbar-nav>li>a{ 
	font-size: 18px; 
	font-weight: 600;
}
@media only screen and (min-width : 768px){
	.rtl .navbar-right{ float: left !important; }
}
@media only screen and (max-width : 768px){
	.rtl .navbar-right{ float: right !important; }
}
@media only screen and (min-width : 768px) and (max-width: 993px){
	.rtl .navbar-nav>li{
		margin-right: 5px;
		margin-left: 5px;
	}
	.rtl .nav>li>a{ padding: 29px 1px; }
	.rtl .navbar-default .navbar-nav>li>a{ font-size: 18px; }
	.rtl a.search{ font-size: 18px; }
	.rtl .navbar-form a i.fa-search{ margin-top: 0; }
}
.rtl .navbar-right:last-child {
	margin-right: -15px;
	margin-left: auto;
}
.rtl .navbar-default li.dropdown a{
	border-left: 2px solid #f3f3f3;
	border-right: none;
	padding-left: 10px;
	padding-right: 10px;
}
.rtl .navbar-right .dropdown-menu{
	right: 0;
	left: auto;
	background: #fff;
}
.rtl .navbar-form .form-control{
	right: auto;
	left: 110px;
	padding-right: 10px;
}
.rtl .sub-header span{ padding-bottom: 33px; }
@media only screen and (max-width : 768px){
	.rtl .navbar-default li.dropdown a{
		border-left: none;
	}
	.rtl ul.globe{
		display: inline !important;
		position: absolute;
		top: -5px;
		right: auto;
		left: 94px;
	}
	.rtl .navbar-form{
		display: inline-block;
		border: none;
		position: absolute;
		top: -34px;
		right: auto;
		left: 105px;
		border-right: none;
		border-left: none;
	}
	.navbar-form a i.fa-search{
		border-right: none;
		border-left: none;
	}
	.rtl .navbar-form a i.fa-search{
		margin-top: 6px;
	}
}
/**** End Arabic Navigation Bar ****/
.rtl .jumbotron p{ font-size: 28px; }
.rtl .jumbotron i{ font-size: 21px; }
.rtl .btn-default{ float: left; }
.rtl .contact-form input,
.rtl .contact-form textarea{ padding: 15px 0 15px 0; }
.rtl ol.breadcrumb>li+li:before{
	content: "\f104";
	padding-left: 4px;
}
.rtl .sub-header{
	margin-top: 0;
}
.rtl .newsletter input {
	border: 1px solid #bababa;
	border-left: none;
	background: transparent;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-ms-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	border-radius: 0;
	padding-right: 10px;
}
.rtl .newsletter button,
.rtl .newsletter button:hover,
.rtl .newsletter button:focus {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-ms-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	border-radius: 0;
	border: 1px solid #bababa;
	border-right: none;
	padding-top: 10px;
	padding-bottom: 10px;
	outline: 0;
}
/**** Start Arabic Footer ****/
.rtl .footer-menu li a{
	font-size: 16px;
	font-weight: bold;
}
.rtl p.copyrights{ font-size: 14px; }
/**** End Arabic Footer ****/
/**** End Arabic Version ****/


